.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}




/* --------------- navbar ----------------- */

.nav{
    padding: 0 1rem;
    height: 0rem;
    min-height: 4.2rem;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .flex-row{
    gap: 2rem;
}

.nav-menu{    
    display: flex;
    justify-content: space-between;
    
    
}

.nav .toggle-collapse{
    position: absolute;
    top: 41px;
    width: 95%;
    cursor: pointer;
    display: none;
    color:#ADB9C7;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}


.nav-brand{
    padding: 0.5rem 0;
}

.nav-menu-container{
    padding-top: 0.6rem;
}

.nav-item{
    padding: 0.6rem;
    text-transform: uppercase;
    line-height: 10px;
}

.nav-item-social{
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    padding-top: 2rem;
    padding-right: 2.5rem;
}

@media (max-width:850px) {
    .nav .toggle-collapse{
        display: initial;
    }
}